<!DOCTYPE html>

<html>
<head>
    <title>Password Reset</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>

        </div>
    </nav>

<div class="container">
    <div class="row">
     <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
  <h3><span class="label label-default">Forgot Password</span></h3>

             <form method="post">

                {% csrf_token %}
                   {%for field in form %}

                         <div class="form-group">

                                         
                          <input id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}" placeholder="Email" class = "form-control" />
                         {% endfor %}
              <button type="submit">Submit</button>
             </form>

          </div>
          <div class="panel-body">

          </div>
        </div>
     </div>
    </div>
</div>    

</body>
</html>

