﻿<!DOCTYPE html>

<html>
<head>
    <title>Add Vaccine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
             <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Signout </u></a></p>

        </div>
    </nav>
    <div class="row">
        <div class="col-md-2 ">
                <ul class="nav nav-pills nav-stacked">
                     
            <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>
          <li role="presentation"  ><a href="/general/home/">Search Patient</a></li>
          <li role="presentation"  ><a href="/general/showpatientslist/">Show Patients</a></li>
          <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          <li role="presentation" ><a href="/general/showvaccine/">Show Vaccine</a></li>


           <li role="presentation" ><a href="/general/addsymptom/">Add Symptom</a></li>
          <li role="presentation" ><a href="/general/showsymptoms/">Show Symptoms</a></li>
          
          <li role="presentation" class="active"><a href="/general/addprevention/">Add Advice</a></li>
          <li role="presentation" ><a href="/general/showpreventions/">Show Advice</a></li>
          
          <li role="presentation" ><a href="/general/addmedicine/">Add medicine</a></li>
          <li role="presentation" ><a href="/general/showmedicines/">Show medicines</a></li>

          <li role="presentation" ><a href="/general/adddose/">Add Dose</a></li>
          <li role="presentation" ><a href="/general/showdoses/">Show Doses</a></li>

              </ul>
        </div>

        <div class="col-md-4 col-md-offset-2">
        
    
           {% if alert %}

                  <div class="alert alert-success" role="alert">{{alert}} <a href="/general/patient/{{last_patient.patient_id}}/"> {{last_patient.first_name}} {{last_patient.last_name}}</a></div>

           {% endif %}

           {%for field in form %}

           {% if field.errors %}

            <div class="alert alert-danger" role="alert">{{field.name}}: {{field.errors}}</div>

            {% endif %}
           {%   endfor   %}
        <h3><span class="label label-default">Add New Prevention</span></h3>
               <form role="form" role="form" method="POST" action="/general/addprevention/">

                  {% csrf_token %}

                    {%for field in form %}

                     <div class="form-group">

                    
                        
    
                         <input id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}" placeholder= "{{field.field.widget.attrs.placeholder}}"  class = "form-control" />

                                

                    
                       </div>
                     {% endfor %}


                   <button type="submit" class="btn btn-default">Submit</button>
                  </form>




<!--

                    <div class="form-group">
    
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                   </div>
            
                   <div class="form-group">
   
                         
                       <div class="input-group input-append date" id="datePicker">
                         <input type="text" class="form-control" name="date" placeholder="Date of Birth" />
                           <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            
                        </div>
                    </div>

                  
                    <div class="form-group">
   
                       <input type="text" class="form-control" id="address" placeholder="Address">
                    </div>

                    <div class="form-group">
   
                       <input type="text" class="form-control" id="city" placeholder="City">
                    </div>


                    <div class="form-group">
   
                       <input type="text" class="form-control" id="cnic" placeholder="CNIC">
                    </div>

                    <div class="form-group">
   
                        <input type="tel" class="form-control" id="phone" placeholder="Phone Number">
                     </div>


                    <div class="form-group">
   
                      <input type="radio" name="sex" value="male" checked> Male
                         <br>
                       <input type="radio" name="sex" value="female"> Female
                    </div>



-->


                  <script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'yyyy-mm-dd'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            date: {
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });
});
</script>
        </div>
    </div>

</body>
</html>
