<!DOCTYPE html>

<html>
<head>
    <title>Patient: {{patient.first_name}} {{patient.last_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>

<style>
.list-group-item {
    float: left;
}
</style>   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>

            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
             <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Signout </u></a></p>

        </div>
    </nav>
    
<!--        <div class="col-md-2 ">
         <ul class="nav nav-pills nav-stacked">
                      <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>
                      <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          
              </ul>
        </div>
-->
        <div class=" col-lg-18 text-center">

            <div class="list-group">
                <a href="/general/newpatient/" class="list-group-item ">Add Patient</a>
                <a href="/general/home/" class="list-group-item">Search Patient</a>
                 <a href="/general/showpatients/" class="list-group-item">Show Patients</a>
         

                <a href="/general/addvaccine/" class="list-group-item">Add Vaccine</a>
                <a href="/general/showvaccine/" class="list-group-item">Show Vaccine</a>
         <a href="/general/addsymptom/" class="list-group-item ">Add Symptom</a></li>
         <a href="/general/showsymptoms/" class="list-group-item ">Show Symptoms</a></li>
          
          <a href="/general/addprevention/" class="list-group-item ">Add Advice</a></li>
          <a href="/general/showpreventions/" class="list-group-item ">Show Advice</a></li>
          
          <a href="/general/addmedicine/" class="list-group-item ">Add medicine</a></li>
          <a href="/general/showmedicines/" class="list-group-item ">Show medicines</a></li>

          <a href="/general/adddose/" class="list-group-item ">Add Dose</a></li>
          <a href="/general/showdoses/" class="list-group-item ">Show Doses</a></li>

                
             </div>

        </div>

<br/>
        <div class="col-md-12 col-md-offset-0">
        
    
            <div class="jumbotron">
                 <h5 class="pull-right"><a href="/general/editpatient/{{patient.patient_id}}"><u>Edit</u></a></h5>
               <div class="container">
                <div class="col-md-4">
                 <h4><a href="/general/patient/{{patient.patient_id}}">{{patient.first_name}} {{patient.last_name}}</a></h4>
                 <h6>{{patient.date_of_birth}}</h6>
                 <h6>{{patient.phone}}</h6>
                 <h6>{{patient.CNIC}}</h6>
                 
                 <h6>{{patient.city}}</h6>
                 <hr>
                 <h6><b>Allergies:</b> {{patient.allergic}}</h6>
                 <h6><b>Notes:</b> {{patient.special_notes}}</h6>
            </div>
             
            <a href="/general/newvisit/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add visit &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</button></a>
            <a href="/general/applyvaccine/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Vaccination&nbsp;</button></a>
              <a href="/general/addreport/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Reports</button></a>
                    <a href="/general/showcharts/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Charts</button></a>
              </div>
           </div>

           
           {%for field in form %}

           {% if field.errors %}

            <div class="alert alert-danger" role="alert">{{field.name}}: {{field.errors}}</div>

            {% endif %}
           {%   endfor   %}

           {%for error in errors %}



  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Errors</h4>
        </div>
        <div class="modal-body">
          <p>{{error}} is missing</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

           <!-- <div class="alert alert-danger" role="alert"> {{error}} is missing</div> -->


           {%   endfor   %}

         <h3><span class="label label-default">Vaccine Status</span></h3>

                <!  ************************New Code -->
                 

                               
            <table class="table table-bordered">
                  <thead>
                    <tr>
                       <th>Age</th>
                       <th>Vaccine</th>
                     <!--  <th>Vaccine medicine</th> -->                      
                       <th>Vaccine due date</th>
                       <th>Phone</th>
                      <th>Height (cm)</th>
                      <th>Weight (kg)</th>
                      <th>Remarks</th>
                      <th>Date Vaccinated</th>
                       <th>Vaccinated?</th>
                     <th></th>



                    </tr>
                  </thead>
                  <tbody>
                  
                   {% for fields in vaccs %}
                    <tr>

  {% if fields.date_vaccine_due %}
                      <form role="form" role="form" method="POST" action="/general/applyvaccine/{{patient.patient_id}}/">
                      {% else %}
                     <form role="form" role="form" method="POST" action="/general/schedulevaccine/{{patient.patient_id}}/">
                      {% endif %}


                       {% csrf_token %}
                      <td><input id = "age" name="age" type = "{{field.field.widget.input_type}}" value="{{fields.age}}" class = "form-control"   readonly/>
</td>
                       <td><input id = "VaccineType" name ="VaccineType" type = "{{field.field.widget.input_type}}"  value="{{fields.vaccine_type}}" class = "form-control"  size="30" readonly/>
</td>
                      <!-- <td><input id = "vaccine_medicine" name = "VaccineMedicine" type = "{{field.field.widget.input_type}}"  value="{{fields.vaccine_medicine}}" class = "form-control"   readonly/>
</td> -->

 <input id = "vaccine_id" name = "VaccineID" type = "hidden"  value="{{fields.id}}" class = "form-control" />




                      </td>
                      {% if fields.is_vaccinated %}
   <td> <div class="input-group input-append date" id="done">
                         <input  class="form-control" name="date_vaccine_due"  value="{{fields.date_vaccine_due |date:"Y-m-d"}}" disabled/>
                           <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar" ></span></span>
            
                        </div>
                      </td>
<td>
                          <input id = "phone" name = "phone" type = "{{field.field.widget.input_type}}" placeholder= "{{field.field.widget.attrs.placeholder}}" value="{{fields.phone}}" class = "form-control"   disabled/>
</td>
<td class="col-md-1">
                          <input id = "height" name = "height"   value="{{fields.height}}" class = "form-control"   disabled/>

</td>
<td class="col-md-1">                          <input id = "weight" name = "weight"   value="{{fields.weight}}" class = "form-control"   disabled/>

</td>
<td>
                          <input id = "remarks" name = "remarks" type = "{{field.field.widget.input_type}}" placeholder= "{{field.field.widget.attrs.placeholder}}" value="{{fields.remarks}}" class = "form-control"   disabled/>


</td>

  <td> <div class="input-group input-append date" id="diddone">
                         <input  class="form-control" name="date_vaccinated"  value="{{fields.date_vaccinated |date:"Y-m-d"}}" disabled/>
                           <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            
                        </div>
                      </td>

                          <td> <input type="checkbox" name="is_vaccinated" class="form-control" checked disabled/> </td>
<td> <button type="submit" class="btn btn-default" disabled>Submit</button></td>
                      {% else %}
                 <td> <div class="input-group input-append date" id="datePicker_{{fields.id}}">
                         <input  class="form-control" name="date_vaccine_due"  value="{{fields.date_vaccine_due |date:"Y-m-d"}}"/>
                           <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            
                        </div>
                      </td>

<td>
                          <input id = "phone" name = "phone" type = "{{field.field.widget.input_type}}" placeholder= "{{field.field.widget.attrs.placeholder}}" value="{{patient.phone}}" class = "form-control"   />

</td>
<td class="col-md-1">   
<input id = "height" name = "height" type = "{{field.field.widget.input_type}}" placeholder= "{{field.field.widget.attrs.placeholder}}" value="{{fields.height}}" class = "form-control"   />
</td>

    <td class="col-md-1">  
                    <input id = "weight" name = "weight"  value="{{fields.weight}}" class = "form-control"   />

</td>
    <td>                      <input id = "remarks" name = "remarks"  value="{{fields.remarks}}" class = "form-control "   />
</td>

  <td> <div class="input-group input-append date" id="datePicker_{{fields.id}}_2">
                         <input  class="form-control" name="date_vaccinated"  />
                           <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            
                        </div>
                      </td>



                          <td> <input type="checkbox" name="is_vaccinated" class="form-control "  /></td>

                      {% if fields.date_vaccine_due %}
                       <td> <button type="submit" class="btn btn-success">Submit</button></td>
                      {% else %}
                      <td> <button type="submit" class="btn btn-primary">Schdl</button></td>
                      {% endif %}


                      {% endif %}

                  </form>
                    </tr>
                    {% endfor %}
                 
                  </tbody>
             </table>




                <!************************ ENDs here-->

             
                 <script>
$(document).ready(function() {

{% for fields in vaccs %}
    $('#datePicker_{{fields.id}}')
        .datepicker({
            format: 'yyyy-mm-dd'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation_{{fields.id}}('revalidateField', 'date');
        });
    $('#datePicker_{{fields.id}}_2')
        .datepicker({
            format: 'yyyy-mm-dd'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation_{{fields.id}}('revalidateField', 'date');
        });


         {%endfor %}


    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            date: {
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });
});
</script>



     </div>
   </body>
</html>

