<!DOCTYPE html>

<html>
<head>
    <title>Patient: {{patient.first_name}} {{patient.last_name}}</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
    <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>

 <script>
         function medicineSelectCall() {
             var x = document.getElementById("medicine_select").value;
            document.getElementById("medtxt").innerHTML =  x;
         }

         function symptomSelectCall() {
             var x = document.getElementById("symptom_select").value;
             var y = document.getElementById("id_symptoms").value
            document.getElementById("id_symptoms").innerHTML = y + x + "\n";
         }

        function doseSelectCall() {
             var x = document.getElementById("dose_select").value;
            document.getElementById("dosetxt").innerHTML =  x;
         }

         function onClickMorningPlus() {
           var old = document.getElementById("mornumb").value;
           var newv = Number(old) + Number("1"); 
           document.getElementById("mornumb").value = newv;
         }

        function onClickMorningMinus() {
          var old = document.getElementById("mornumb").value;
           var newv = Number(old) - Number("1"); 
           newv = (newv < 0) ? 0 : newv;
           document.getElementById("mornumb").value = newv;
         }

        function onClickNoonPlus() {
           var old = document.getElementById("nonnumb").value;
           var newv = Number(old) + Number("1"); 
           document.getElementById("nonnumb").value = newv;
         }

       function onClickNoonMinus() {
           var old = document.getElementById("nonnumb").value;
           var newv = Number(old) - Number("1"); 
           newv = (newv < 0) ? 0 : newv;
           document.getElementById("nonnumb").value = newv;
         }

       function onClickEveningPlus() {

           var old = document.getElementById("evenumb").value;
           var newv = Number(old) + Number("1"); 
           document.getElementById("evenumb").value = newv;
         }

       function onClickEveningMinus() {
           var old = document.getElementById("evenumb").value;
           var newv = Number(old) - Number("1"); 
           newv = (newv < 0) ? 0 : newv;
           document.getElementById("evenumb").value = newv;

         }


       function onClickNightPlus() {

           var old = document.getElementById("nightnumb").value;
           var newv = Number(old) + Number("1"); 
           document.getElementById("nightnumb").value = newv;
         }

       function onClickNightMinus() {
           var old = document.getElementById("nightnumb").value;
           var newv = Number(old) - Number("1"); 
           newv = (newv < 0) ? 0 : newv;
           document.getElementById("nightnumb").value = newv;

         }



         function onClickMedicineOk() {
           var mor = document.getElementById("mornumb").value;
           var noon = document.getElementById("nonnumb").value;
           var eve = document.getElementById("evenumb").value;
           var night = document.getElementById("nightnumb").value;
           var med_name = document.getElementById("medicine_select").value;
           var dose_name = document.getElementById("dose_select").value;

           var final = document.getElementById("id_prescription").value; 

            final = final + "\n" + med_name + "          " + "-  " + dose_name +"  -       " +mor + " +  " + noon + " + " + eve + " + " + night;

           document.getElementById("id_prescription").value = final;

         }



</script>

   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
             <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Singout </u></a></p>

        </div>
    </nav>
    <div class="row">
        <div class="col-md-2 ">
       <ul class="nav nav-pills nav-stacked">
                     
           <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>
          <li role="presentation"  ><a href="/general/home/">Search Patient</a></li>
         <li role="presentation"  ><a href="/general/showpatientslist/">Show Patients</a></li>

          <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          <li role="presentation" ><a href="/general/showvaccine/">Show Vaccine</a></li>
 <li role="presentation" ><a href="/general/addsymptom/">Add Symptom</a></li>
          <li role="presentation" ><a href="/general/showsymptoms/">Show Symptoms</a></li>
          
          <li role="presentation" ><a href="/general/addprevention/">Add Advice</a></li>
          <li role="presentation" ><a href="/general/showpreventions/">Show Advice</a></li>
          
          <li role="presentation" ><a href="/general/addmedicine/">Add medicine</a></li>
          <li role="presentation" ><a href="/general/showmedicines/">Show medicines</a></li>

          <li role="presentation" ><a href="/general/adddose/">Add Dose</a></li>
          <li role="presentation" ><a href="/general/showdoses/">Show Doses</a></li>

          
              </ul>
        </div>

        <div class="col-md-8 col-md-offset-0">

        	 <div class="jumbotron">
                 <h5 class="pull-right"><a href="/general/editpatient/{{patient.patient_id}}"><u>Edit</u></a></h5>
               <div class="container">
                <div class="col-md-4">
                 <h4><a href="/general/patient/{{patient.patient_id}}/">{{patient.first_name}} {{patient.last_name}}</a></h4>
                 <h6>{{patient.date_of_birth}}</h6>
                 <h6>{{patient.phone}}</h6>
                 <h6>{{patient.CNIC}}</h6>
                 
                 <h6>{{patient.city}}</h6>
                 <hr>
                 <h6><b>Allergies:</b> {{patient.allergic}}</h6>
                 <h6><b>Notes:</b> {{patient.special_notes}}</h6>
            </div>
             
            <a href="/general/newvisit/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Visit &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</button></a>
            <a href="/general/applyvaccine/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Schedule Vaccine&nbsp;</button></a>
             <a href="/general/addreport/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Reports</button></a>
                    <a href="/general/showcharts/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Charts</button></a>
              </div>
           </div>



           {%for field in form %}

           {% if field.errors %}

            <div class="alert alert-danger" role="alert">{{field.name}}: {{field.errors}}</div>

            {% endif %}
           {%   endfor   %}
        <h3><span class="label label-default">Edit Visit</span></h3>
               <form role="form" role="form" method="POST" action="/general/editvisit/{{patient.patient_id}}/{{visit.id}}/">

                  {% csrf_token %}

                    {%for field in form %}

                     <div class="form-group">

                       {%if "date_visit_due" in field.name%}
                          <div class="input-group input-append date" id="datePicker">
                         <input type="{{field.field.widget.input_type}}" class="form-control" name="{{field.name}}" value="{{field.value |date:'Y-m-d'}}" id="{{field.id_for_label}}" />
                           <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            
                        </div>
                        
                        {%elif "note" in field.name  %}

                        <textarea col=40 rows=10 id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}"  class = "form-control"  style="resize:none">{{field.value}} </textarea><br />

<!----------------- New Code starts from here -->

               {%elif    "prescription" in field.name or "symptoms" in field.name %}

                       {% if "symptoms" in field.name %}
                                    <select class="selectpicker" data-live-search="true" id = "symptom_select" label="Select me" onchange="symptomSelectCall()">


                                    <optgroup label="Symptoms">
                                           <option data-tokens=""></option>
                                           {%for symptom in symptoms %}

                                          <option data-tokens="{{symptom.name}}">{{symptom.name}}</option>

                                            {% endfor %}
                                      </optgroup>

                                     </select>
 
                                 {%endif%}



                                 {% if "prescription" in field.name %}



<table class="table table-bordered">
    <thead>
      <tr>
        <th>Medicine</th>
         <th>Dose</th>
        <th>Morning</th>
        <th>Noon</th>
       <th>Evening</th>
       <th>Night</th>
       <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>      
               <select class="selectpicker" data-live-search="true" id = "medicine_select" label="Select me" onchange="medicineSelectCall()">


                                    <optgroup label="Medicines">
                                         <option data-tokens=""></option>
                                           {%for medicine in medicines %}

                                          <option data-tokens="{{medicine.name}}">{{medicine.name}}</option>

                                            {% endfor %}
                                      </optgroup>

                                     </select>
</td>

    <td>


               <select class="selectpicker" data-live-search="true" id = "dose_select" label="Select me" onchange="doseSelectCall()">


                                    <optgroup label="Dose">
                                          <option data-tokens=""></option>
                                           {%for dose in doses %}

                                          <option data-tokens="{{dose.name}}">{{dose.name}}</option>

                                            {% endfor %}
                                      </optgroup>

                                     </select>

  </td>

<td>


                  <button type="button" class="btn btn-success btn-circle" id = "morningplus" onclick="onClickMorningPlus()"><i class="glyphicon glyphicon-plus"></i></button>
                 <button type="button" class="btn btn-danger btn-circle" id = "morningminus" onclick="onClickMorningMinus()"><i class="glyphicon glyphicon-minus"></i></button>

</td>
   <td>
          <button type="button" class="btn btn-success btn-circle" id = "noonplus" onclick="onClickNoonPlus()"><i class="glyphicon glyphicon-plus"></i></button>
          <button type="button" class="btn btn-danger btn-circle" id = "noonminus" onclick="onClickNoonMinus()"><i class="glyphicon glyphicon-minus"></i></button>
   </td>
<td>
    <button type="button" class="btn btn-success btn-circle" id = "eveningplus" onclick="onClickEveningPlus()"><i class="glyphicon glyphicon-plus"></i></button>
    <button type="button" class="btn btn-danger btn-circle" id = "eveningminus" onclick="onClickEveningMinus()"><i class="glyphicon glyphicon-minus"></i></button>
</td>

<td>
    <button type="button" class="btn btn-success btn-circle" id = "nightplus" onclick="onClickNightPlus()"><i class="glyphicon glyphicon-plus"></i></button>
    <button type="button" class="btn btn-danger btn-circle" id = "nightminus" onclick="onClickNightMinus()"><i class="glyphicon glyphicon-minus"></i></button>
</td>

   <td>
<button type="button" class="btn btn-info btn-circle btn-lg" onclick="onClickMedicineOk()"><i class="glyphicon glyphicon-ok"></i></button>


   </td>
      </tr>
      <tr>
        <td id='medtxt'></td>
        <td id='dosetxt'> </td>
        <td > <input type="number" id="mornumb" value="0" class= "form-control" readonly/></td>
        <td ><input type="number" id="nonnumb" value="0" class= "form-control" readonly/></td>
        <td ><input type="number" id="evenumb" value="0" class= "form-control" readonly/></td>
        <td ><input type="number" id="nightnumb" value="0" class= "form-control" readonly/></td>
        <td/> 
      </tr>
      
    </tbody>
  </table>

<br/>

                             {%endif%}
                        
                             {% if field.value %}
                            

                            <textarea col=40 rows=10 id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}"   class = "form-control"  style="resize:none">{{field.value}}</textarea><br />
                            {%else%}



                           <textarea col=40 rows=10 id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}" placeholder="{{field.field.widget.attrs.placeholder}}"  class = "form-control"  style="resize:none"></textarea><br />
                        
                           {%endif%}



<!----------------- New Code ends here -->

                        {% else %}                        
    
                         <input id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}" value= "{{field.value}}"  class = "form-control" />

                                

                      {%endif %}
                       </div>
                     {% endfor %}


                   <button type="submit" class="btn btn-default">Submit</button>
                  </form>

                  <script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'yyyy-mm-dd'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            date: {
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });
});
</script>


        </div>
    </div>
    
</body>

</html>

