<!DOCTYPE html>

<html>
<head>
    <title>Patient: {{patient.first_name}} {{patient.last_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
             <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Singout </u></a></p>

        </div>
    </nav>
    <div class="row">
        <div class="col-md-2 ">
       <ul class="nav nav-pills nav-stacked">
             
           <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>
          <li role="presentation"  ><a href="/general/home/">Search Patient</a></li>
         <li role="presentation"  ><a href="/general/showpatientslist/">Show Patients</a></li>

          <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          <li role="presentation" ><a href="/general/showvaccine/">Show Vaccine</a></li>
           <li role="presentation" ><a href="/general/addsymptom/">Add Symptom</a></li>
          <li role="presentation" ><a href="/general/showsymptoms/">Show Symptoms</a></li>
          
          <li role="presentation" ><a href="/general/addprevention/">Add Advice</a></li>
          <li role="presentation" ><a href="/general/showpreventions/">Show Advice</a></li>
          
          <li role="presentation" ><a href="/general/addmedicine/">Add medicine</a></li>
          <li role="presentation" ><a href="/general/showmedicines/">Show medicines</a></li>

          <li role="presentation" ><a href="/general/adddose/">Add Dose</a></li>
          <li role="presentation" ><a href="/general/showdoses/">Show Doses</a></li>
          
              </ul>
        </div>

        <div class="col-md-8 col-md-offset-0">

        	 <div class="jumbotron">
                 <h5 class="pull-right"><a href="/general/editpatient/{{patient.patient_id}}"><u>Edit</u></a></h5>
               <div class="container">
                <div class="col-md-4">
                 <h4><a href="/general/patient/{{patient.patient_id}}/">{{patient.first_name}} {{patient.last_name}}</a></h4>
                 <h6>{{patient.date_of_birth}}</h6>
                 <h6>{{patient.phone}}</h6>
                 <h6>{{patient.CNIC}}</h6>
                 
                 <h6>{{patient.city}}</h6>
                 <hr>
                 <h6><b>Allergies:</b> {{patient.allergic}}</h6>
                 <h6><b>Notes:</b> {{patient.special_notes}}</h6>
            </div>
             
            <button type="button" class="btn btn-info">Add Visit &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</button>
            <a href="/general/applyvaccine/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Schedule Vaccine&nbsp;</button></a>
              <a href="/general/addreport/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Reports</button></a>
                    <a href="/general/showcharts/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Charts</button></a>
              </div>
           </div>



           {%for field in form %}

           {% if field.errors %}

            <div class="alert alert-danger" role="alert">{{field.name}}: {{field.errors}}</div>

            {% endif %}
           {%   endfor   %}
        <h3><span class="label label-default">Edit Report</span></h3>
               <form role="form" role="form" method="POST" action="/general/editreport/{{patient.patient_id}}/{{report.id}}/">

                 {% csrf_token %}

                    {%for field in form %}

                     <div class="form-group">

                         {% if field.value %}
                            
                            
                            <textarea col=40 rows=10 id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}"   class = "form-control" value= "{{field.value}}"  style="resize:none">{{field.value}}</textarea><br />
                            {%else%}

                           <textarea col=40 rows=10 id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}" placeholder="{{field.field.widget.attrs.placeholder}}"  class = "form-control"  style="resize:none"></textarea><br />
                        
                           {%endif%}

            </div>
                     {% endfor %}


                   <button type="submit" class="btn btn-default">Submit</button>
                  </form>

                  <script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'yyyy-mm-dd'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            date: {
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });
});
</script>


        </div>
    </div>
    
</body>

</html>

