<!DOCTYPE html>

<html>
<head>
    <title>Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>
         <p class="navbar-text navbar-right"> <a href="/general/editdoc/" class="navbar-link">{{first_name}} {{last_name}}</a>
          <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Signout </u></a></p></p>

        </div>
    </nav>

<div class="col-md-4 col-md-offset-4">

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

      {% if error %}
        <p style="color: red;">
            Please correct the error: {{ error}} .
        </p>
    {% endif %}
        <h3><span class="label label-default">Edit: User</span></h3>
    
    <form  role="form" method="POST" action="/general/editdoc/">

                  {% csrf_token %}

                         {%for field in form %}

                         <div class="form-group">

                          {% if 'timezone' in field.name %}

                              <select id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}"  class = "form-control" value = {{field.value}} />

                         {% for choices in field.field.choices %}

{% ifnotequal field.value choices.0 %}
                             <option value="{{choices.0}}">{{choices.1}}</option>
{% else %}
                             <option value="{{choices.0}}" selected>{{choices.1}}</option>
{% endifnotequal %}
                         {% endfor %}

                         </select>

                          {%else%}
                        
                          <input id = "{{field.id_for_label}}" name = "{{field.name}}" type = "{{field.field.widget.input_type}}" placeholder= "{{field.field.widget.attrs.placeholder}}" value="{{field.value}}" class = "form-control" />



                          {% endif %}

                     
                          </div>
                          {% endfor %}

                   <button type="submit" class="btn btn-default">Submit</button>
                  </form>

                  <!--
                      <input id="id_username" maxlength="200" name="username" type="text" class="form-control"  placeholder="Username"/>
    
                        
                     </div>

                     <div class="form-group">
    
                        <input type="password" class="form-control" id="password" placeholder="Password">
                     </div>

                    <div class="form-group">
    
                        <input type="text" class="form-control" id="id_first_name" placeholder="First Name">
                     </div>

                    <div class="form-group">
    
                        <input type="text" class="form-control" id="id_last_name" placeholder="Last Name">
                   </div>
   
                  
                    <div class="form-group">
   
                       <input type="text" class="form-control" id="id_address" placeholder="Address">
                    </div>

                    <div class="form-group">
   
                       <input type="text" class="form-control" id="id_city" placeholder="City">
                    </div>


                    <div class="form-group">
   
                       <input type="email" class="form-control" id="id_email"  name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
   
                        <input type="tel" class="form-control" id="id_phone" placeholder="Phone Number">

                      -->
</div>
</body>
</html>
