<!DOCTYPE html>

<html>
<head>
    <title>Patient: {{patient.first_name}} {{patient.last_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

   <script>
        {% for visit in visits %}
            function ajaxfunction_{{patient.patient_id}}_{{visit.id}}() {
                $.get("/general/smsvisit/{{patient.patient_id}}/{{visit.id}}/", function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });

             }
        {% endfor %}
   </script>
   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
             <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Signout </u></a></p>

        </div>
    </nav>
    <div class="row">
        <div class="col-md-2 ">
           <ul class="nav nav-pills nav-stacked">

           <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>
          <li role="presentation"  ><a href="/general/home/">Search Patient</a></li>
         <li role="presentation"  ><a href="/general/showpatientslist/">Show Patients</a></li>

          <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          <li role="presentation" ><a href="/general/showvaccine/">Show Vaccine</a></li>
           <li role="presentation" ><a href="/general/addsymptom/">Add Symptom</a></li>
          <li role="presentation" ><a href="/general/showsymptoms/">Show Symptoms</a></li>
          
          <li role="presentation" ><a href="/general/addprevention/">Add Advice</a></li>
          <li role="presentation" ><a href="/general/showpreventions/">Show Advice</a></li>
          
          <li role="presentation" ><a href="/general/addmedicine/">Add medicine</a></li>
          <li role="presentation" ><a href="/general/showmedicines/">Show medicines</a></li>


          <li role="presentation" ><a href="/general/adddose/">Add Dose</a></li>
          <li role="presentation" ><a href="/general/showdoses/">Show Doses</a></li>

              </ul>
        </div>

        <div class="col-md-8 col-md-offset-0">
        
    
            <div class="jumbotron">
                <h5 class="pull-right"><a href="/general/editpatient/{{patient.patient_id}}"><u>Edit</u></a></h5>
               <div class="container">

                 

                <div class="col-md-4">
                 <h4><a href="/general/patient/{{patient.patient_id}}">{{patient.first_name}} {{patient.last_name}}</a></h4>
                 <h6>{{patient.date_of_birth}}</h6>
                 <h6>{{patient.phone}}</h6>
                 <h6>{{patient.CNIC}}</h6>
                 
                 <h6>{{patient.city}}</h6>
                 <hr>
                 <h6><b>Allergies:</b> {{patient.allergic}}</h6>
                 <h6><b>Notes:</b> {{patient.special_notes}}</h6>
            </div>
             
            <a href="/general/newvisit/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Visit &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</button></a>
            <a href="/general/applyvaccine/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Schedule Vaccine&nbsp;</button></a>
              <a href="/general/addreport/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Reports</button></a>
             <a href="/general/showcharts/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Charts</button></a>
              </div>
           </div>

        <ul class="nav nav-pills">
             <li role="presentation"  class='active'><a href="#">Vists</a></li>
            
             <li role="presentation" ><a href="/general/showreport/{{patient.patient_id}}/">Reports</a></li>
        </ul>
        {% load tz %}
        
         <div class="panel-group">
        {% for visit in visits %}

        <hr>
        
             <div class="panel panel-primary">
                 <div class="panel-heading">{{visit.date_visited}}<h5 class="pull-right" ><a href="/general/editvisit/{{patient.patient_id}}/{{visit.id}}/" style="color:#FFFFFF">Edit</a></h5><h5 class="pull-right" ><a href="/general/printvisit/{{patient.patient_id}}/{{visit.id}}/" style="color:#2d3436">Print &nbsp;&nbsp;</a></h5><h5 class="pull-right" ><a href="javascript:void(0)" onClick="ajaxfunction_{{patient.patient_id}}_{{visit.id}}();" style="color:#AAFFFF">SMS &nbsp;&nbsp;</a></h5></div>
                <div class="panel-body">
                    <h4><span class="label label-danger">Symptoms:</span></h4>
                    <h5><pre>{{visit.symptoms}} </pre></h5>

                    
                      <table class="table table-bordered">
                      <thead>
                         <tr>
                          <th>Weight</th>
                          <th>Height</th>
                          <th>HCF</th>
                          <th>BMI</th>
                          <th>Fever</th>
                          <th>Blood Pressure</th>
                          <th>Sugar</th>   
                        </tr>
                      </thead>
                   <tbody>
                    <tr>
                     <td> {{visit.weight}}</td>
                     <td> {{visit.height}}</td>
                     <td> {{visit.hcf}}</td>
                     <td> {{visit.bmi}}</td>
                     <td>{{visit.fever}}</td>
                     <td>{{visit.blood_pressure_higher}}/{{visit.blood_pressure_lower}}</td>                     
                    <td>{{visit.sugar}}</td>
                                    </tr>
     
                  </tbody>
                </table>



                    <h4><span class="label label-success">Presciption:</span></h4>
                    <h5><pre>{{visit.prescription}} </pre></h5>

                   <h4><span class="label label-info">Note:</span></h4>
                    <h5><pre>{{visit.note}} </pre></h5>

                    <h4><span class="label label-warning">Next visit</span></h4>
                    <h5><pre>{{visit.date_visit_due}} </pre></h5>

                    <h5><pre>{{visit.next_visit_reminder}} </pre></h5>

                    <h4><span class="label label-success">Fee</span></h4>
                    <h5><pre>{{visit.fee}} </pre></h5>




                </div>
             </div>
        

        {% endfor %}

        </div>



        </div>
      </div>


</body>

</html>

