<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<script>
function myFunction() {
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = "Today " + m + "/" + d + "/" + y;

}
</script>



       <title ></title>

    <style type="text/css">
 
@media print {
    @page { margin: 0; }
  }

pre {
    display: block;
    font-family: "Times New Roman", Georgia, Serif;
    white-space: pre;
    font-size: 100%;
    padding:3;
    margin: 1em 0;
    overflow : visible;
    word-wrap: break-word;

 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */




  line-height: 1.42857143;
  color: #333;
  

  background-color: #ffffff;
  border: 0px solid #ccc;
  border-radius: 0px;

}

.verticalLine {
    border-left: thick solid #ff0000;
}


     </style>

</head>
<body onload="myFunction()">
   <div class="container">
        <div class="row">
            <h1 style="text-align: center">{{first_name}} {{last_name}}</h1>
             <h4 style="text-align: center">{{doctor.acheivements}}</h4>
          <hr> </hr>
<div class="row">
<div class="col-xs-10">
<pre>{{visit.symptoms}}</pre> 

<h2>&#8478;</h2>
<h3>
<pre>{{visit.prescription}} </pre></h3>
</div>

<div class="col-xs-2 "><p id="date"></p>
<p id="pid">PID : {{patient.patient_manual_id}}</p>
</div>
<div class="col-xs-2 ">

    <div class="verticalLine">
      
         <h4>BP: {{visit.blood_pressure_higher}}/{{visit.blood_pressure_lower}}</h4>
          <h4>Temp: {{visit.fever}}</h4>
          <h4>Sugar: {{visit.sugar}}</h4>
          <h4>Weight: {{visit.weight}}</h4>
          <h4>Height: {{visit.height}}</h4>
          <h4>HCF: {{visit.hcf}}</h4>
          <h4>BMI: {{visit.bmi}}</h4>

      
     </div>        
      
  </div>
<!-- <div class="col-xs-2 "><p>(0 value may not be actual.)</p> -->
</div>
</body>

</html>

