<!DOCTYPE html>

<html>
<head>
    <title>Patient: {{patient.first_name}} {{patient.last_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
             <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Signout </u></a></p>

        </div>
    </nav>
    <div class="row">
        <div class="col-md-2 ">
         <ul class="nav nav-pills nav-stacked">
                     
           <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>
          <li role="presentation"  ><a href="/general/home/">Search Patient</a></li>
         <li role="presentation"  ><a href="/general/showpatientslist/">Show Patients</a></li>

          <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          <li role="presentation" ><a href="/general/showvaccine/">Show Vaccine</a></li>

           <li role="presentation" ><a href="/general/addsymptom/">Add Symptom</a></li>
          <li role="presentation" ><a href="/general/showsymptoms/">Show Symptoms</a></li>
          
          <li role="presentation" ><a href="/general/addprevention/">Add Advice</a></li>
          <li role="presentation" ><a href="/general/showpreventions/">Show Advice</a></li>
          
          <li role="presentation" ><a href="/general/addmedicine/">Add Medicine</a></li>
          <li role="presentation" ><a href="/general/showmedicines/">Show Medicines</a></li>

          <li role="presentation" ><a href="/general/adddose/">Add Dose</a></li>
          <li role="presentation" ><a href="/general/showdoses/">Show Doses</a></li>

              </ul>
        </div>

        <div class="col-md-8 col-md-offset-0">
        
    
            <div class="jumbotron">
                 <h5 class="pull-right"><a href="/general/editpatient/{{patient.patient_id}}"><u>Edit</u></a></h5>
               <div class="container">
                <div class="col-md-4">
                 <h4><a href="/general/patient/{{patient.patient_id}}">{{patient.first_name}} {{patient.last_name}}</a></h4>
                 <h6>{{patient.date_of_birth}}</h6>
                 <h6>{{patient.phone}}</h6>
                 <h6>{{patient.CNIC}}</h6>
                 
                 <h6>{{patient.city}}</h6>
                 <hr>
                 <h6><b>Allergies:</b> {{patient.allergic}}</h6>
                 <h6><b>Notes:</b> {{patient.special_notes}}</h6>
            </div>
             
            <a href="/general/newvisit/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Visit &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</button></a>
            <a href="/general/applyvaccine/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Schedule Vaccine&nbsp;</button></a>
           <a href="/general/addreport/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Add Reports</button></a>
                    <a href="/general/showcharts/{{patient.patient_id}}/" ><button type="button" class="btn btn-info">Charts</button></a>
              </div>
           </div>

 <ul class="nav nav-pills">
             <li role="presentation"  ><a href="/general/patient/{{patient.patient_id}}">Vists</a></li>
             
             <li role="presentation" class='active' ><a href="/general/showreport/{{patient.patient_id}}/">Reports</a></li>
        </ul>

        {% for report in reports %}

        <hr>
        
             <div class="panel panel-primary">
                 <div class="panel-heading">{{report.date_report_added}}<h5 class="pull-right" ><a href="/general/editreport/{{patient.patient_id}}/{{report.id}}/" style="color:#FFFFFF"><u>Edit</u></a></h5><h5 class="pull-right" ></h5></div>
                <div class="panel-body">
                    <h4><span class="label label-danger">Report</span></h4>
                    <h5><pre>{{report.report}} </pre></h5>

                    
                   

                   <h4><span class="label label-info">Findings</span></h4>
                    <h5><pre>{{report.findings}} </pre></h5>

                   
                </div>
             </div>
        

        {% endfor %}





</body>
</head>
