<html>
<head>
  <title>Patient Care</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Patient Care</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
        </div>
        <p class="navbar-text navbar-right"> <a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
          <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Singout </u></a></p></p>

    </div>
</nav>
 <div class="row">
    <div class="col-md-2 ">
       <ul class="nav nav-pills nav-stacked">
                     
           <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>
          <li role="presentation"  ><a href="/general/home/">Search Patient</a></li>
         <li role="presentation"  ><a href="/general/showpatientslist/">Show Patients</a></li>

          <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          <li role="presentation" ><a href="/general/showvaccine/">Show Vaccine</a></li>

           <li role="presentation" ><a href="/general/addsymptom/">Add Symptom</a></li>
          <li role="presentation" ><a href="/general/showsymptoms/">Show Symptoms</a></li>
          
          <li role="presentation" ><a href="/general/addprevention/">Add Advice</a></li>
          <li role="presentation" ><a href="/general/showpreventions/">Show Advice</a></li>
          
          <li role="presentation" ><a href="/general/addmedicine/">Add medicine</a></li>
          <li role="presentation" ><a href="/general/showmedicines/">Show medicines</a></li>

          <li role="presentation" ><a href="/general/adddose/">Add Dose</a></li>
          <li role="presentation" ><a href="/general/showdoses/">Show Doses</a></li>

              </ul>
       </div>

       <div class="col-md-8 col-md-offset-0">


       <!--  <div class="container"> -->
                 <h3><span class="label label-default">Patients List</span></h3>
                         
            <table class="table table-bordered">
                  <thead>
                    <tr>
                       <th>ID</th>
                       <th>First name</th>
                       <th>Last name</th>
                       <th>Phone number</th>
                       <th>ID Card</th>

                    </tr>
                  </thead>
                  <tbody>
                   {%for patient in patients %} 
                    <tr>
                       <td><a href="/general/patient/{{patient.patient_id}}/">{{patient.patient_manual_id}}</a></td>
                       <td>{{patient.first_name}}</td>
                      <td>{{patient.last_name}}</td>
                      <td> {{patient.phone}}</td>
                      <td> {{patient.CNIC}}</td>
                    </tr>
                 {% endfor %}
                  </tbody>
             </table>
         <!-- </div> -->





       </div>

    </div>

  </body>
  
</html>  
