﻿<!DOCTYPE html>

<html>
<head>
    <title>Show Medicines</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>

{% for v in medicines %}
function confirm_{{v.id}}() {
var r = confirm("Are you sure to delete it?");
    if (r == true) {

      window.location="/general/deletemedicine/{{v.id}}/";
    } 
}
{% endfor %}

</script>   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Patient Care</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/general/home/"><span class="glyphicon glyphicon-home"></span></a></li>
                </ul>
            </div>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{first_name}} {{last_name}}</a>
             <a href="/general/logout/" class="navbar-link" style="color:#0066FF"><u>Signout </u></a></p>

        </div>
    </nav>

    <div class="row">
        <div class="col-md-2 ">
                <ul class="nav nav-pills nav-stacked">
                 
           <li role="presentation"  ><a href="/general/newpatient/">Add Patient</a></li>

          <li role="presentation"  ><a href="/general/home/">Search Patient</a></li>
         <li role="presentation"  ><a href="/general/showpatientslist/">Show Patients</a></li>

          <li role="presentation" ><a href="/general/addvaccine/">Add Vaccine</a></li>
          <li role="presentation" ><a href="/general/showvaccine/">Show Vaccine</a></li>
 <li role="presentation" ><a href="/general/addsymptom/">Add Symptom</a></li>
          <li role="presentation" ><a href="/general/showsymptoms/">Show Symptoms</a></li>
          
          <li role="presentation" ><a href="/general/addprevention/">Add Advice</a></li>
          <li role="presentation" ><a href="/general/showpreventions/">Show Advice</a></li>
          
          <li role="presentation" ><a href="/general/addmedicine/">Add medicine</a></li>
          <li role="presentation" class="active"><a href="/general/showmedicines/">Show medicines</a></li>

          <li role="presentation" ><a href="/general/adddose/">Add Dose</a></li>
          <li role="presentation" ><a href="/general/showdoses/">Show Doses</a></li>
              </ul>
        </div>

        <div class="col-md-8">
<table class="table table-bordered">
                  <thead>
                    <tr>

                       <th>Name</th>

                     <th> </th>
                     <th> </th>
                    </tr>
                  </thead>
                  <tbody>
  {% for v in medicines %}

                 <tr>


<td> {{v.name}}</td>


<td> 

<a href="/general/editmedicine/{{v.id}}" class="btn btn-info" role="button">Edit</a>



</td>

<td> 

<button class="btn btn-danger" onclick="confirm_{{v.id}}()">Delete</button>


</td>

 
                 </tr>
                   
        {% endfor %}
                  </tbody>
                 </table>
            

        
        </div>
    </div>

</body>
</html>
